<div class="container">
  <div class="question-area">
    <h1>Q<%= @question.question_num %><span>/ 3</span></h1>
    <p><%= @question.question_content %></p>
    <div class=top-button>
      <%= link_to '前へ', question_path(@question.previous) if @question.previous %>
      <% if @question.next.present? %>
        <%= link_to '次へ', question_path(@question.next) if @question.next %>
      <% else %>
        <%= link_to '完了', 'http://18.222.175.78', target: ["_blank"] %>
        <%= link_to 'レジュメを開く', user_path(current_user) %>
      <% end %>
    </div>
  </div>
</div>
