<!DOCTYPE html>
<html>
  <head>
    <title>Coaching-31</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <%= favicon_link_tag('favicon.png') %>
  </head>

  <body>
    <% if user_signed_in? %>
      <header>
        <div class="header-content">
          <div class="header-button" style="margin-right: 5px;">
            <%= link_to 'マイレジュメ' , user_path(current_user.id) %>
          </div>
          <div class="header-button">
            <%= link_to 'ログアウト' , destroy_user_session_path, method: "delete" %>
          </div>
        </div>
      </header>
    <% end %>
<!--     <p class="notice"><%= notice %></p>
    <p class="alert"><%= alert %></p> -->
    <%= yield %>
  </body>
</html>
